img {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(76, 161, 70);
}

ul{
    margin: 0;
    padding:0;
}
.dunkel {
    filter: brightness(40%);
    }

.weiche_kanten{
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    }



.überschriftart {
     font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: rgb(255, 255, 255);
    font-size: 500%;
}
nav {
    position: sticky;
    top: 0;
    z-index: 2;
}
nav ul {
    list-style: none;
    background-color: rgb(76, 161, 70);
    height: auto;
    border: thin solid;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
}

nav ul img {
    height: 5em; 
    width: auto; 
    margin-right: 2em; 
    margin-left: 1em;
}

nav li {
    margin-right: 3em; 
    display:inline-block;
}

nav a {
    font-size: 1em;
    text-decoration: none; 
    font-weight: bold;
    color: rgb(255, 255, 255);
}
nav a:focus,
  nav a:hover,
  nav a:active {    
    text-decoration:underline;
    color: rgb(0, 0, 0);
  }
  