html {
    scroll-behavior: smooth;
}

img {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("Bilder/wald.jpg");
    background-size: cover;
}

#indexbody {
    background-image: url("Bilder/Hintergrund_index.jpeg");
}

hr {
    border: none;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    border-radius: 25px;
}

.weiche_kanten {
    mask-image: linear-gradient(to bottom, black 98%, transparent 100%);
}

.überschriftart {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}


.kreideschrift {
    font-family: "Winky Rough", sans-serif;
    font-weight: 600;
    font-size: 2em;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(76, 161, 70, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav ul {
    list-style: none;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav li span {
    display: inline-block;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1em;
}

nav li span:focus,
nav li span:hover,
nav li span:active {
    color: rgb(159, 189, 165);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dropdowncontentright {
    right: 0;
}

.dropdown-content li a {
    color: rgb(214, 214, 214);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.dropdown-content li a:hover {
    text-decoration: underline;
}

.show {
    display: block;
}

header {
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: rgba(76, 161, 70, 0.8);
}

header p {
    padding: 0;
    margin: 0;
    margin-right: 1em;
    font-size: 2em;
    text-align: center;
    flex-grow: 1;
}

header img {
    height: 3em;
    width: auto;
    margin-right: 1em;
    margin-left: 1em;
    cursor: pointer;
}

.aktuelles {
    display: flex;
    margin: 1em;
    padding: 0.5em;
    width: 20em;
    background-color: rgba(76, 161, 70, 1);
    flex-direction: column;
    border-radius: 15px;
    height: 25em;
    transition: transform .2s;
}

.aktuelles p {
    text-align: center;
    font-size: 1.2em;
}

.aktuelles img {
    height: auto;
    border-radius: 15px;
}

.aktuelles h1 {
    text-align: center;
}

#aktuelles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

section a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.aktuelles:hover {
    transform: scale(1.1);
    background-color: rgba(171, 248, 165, 0.4);
}

#AktuÜberschrift,
#whatisit h2 {
    background-color: rgba(76, 161, 70, 0.8);
    border-radius: 40px;
    display: flex;
    margin: 0.25em;
    font-size: 10em;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
}

#AktuÜberschrift:hover,
#whatisit h2:hover {
    transform: scale(1.025);
    background-color: rgba(171, 248, 165, 0.4);
}

.unterthemen,
#whatisit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: transform .2s;
}

#mham,
#ursprung,
#kernfokus,
#globale,
.inhalt {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform .2s;
}

#mham p,
#ursprung p,
#kernfokus p,
#globale p,
.inhalt p {
    font-weight: bold;
    font-size: 1.3em;
    background-color: rgba(76, 161, 70, 0.8);
    border-radius: 25px;
    padding: 2em;
    transition: transform .2s;
    margin: 1em;
}

#mham p:hover,
#ursprung p:hover,
#kernfokus p:hover,
#globale p:hover,
.inhalt p:hover {
    transform: scale(1.025);
    background-color: rgba(171, 248, 165, 0.4);
    cursor: pointer;
}

#mham h3,
#ursprung h3,
#kernfokus h3,
#globale h3,
.inhalt h3 {
    background-color: rgba(76, 161, 70, 0.8);
    margin: 1em;
    padding: 1em 2em;
    border-radius: 25px;
    font-size: 3em;
    transition: transform .2s;
    text-align: center;
}

#mham h3:hover,
#ursprung h3:hover,
#kernfokus h3:hover,
#globale h3:hover,
.inhalt h3:hover {
    transform: scale(1.025);
    background-color: rgba(171, 248, 165, 0.4);
    cursor: pointer;
}

#ursprung h3,
#kernfokus h3,
#globale h3 {
    margin: 0.1em;
}

#ursprung p,
#kernfokus p,
#globale p {
    margin: 0.1em;
}

.unterthemen img {
    height: 30em;
    width: auto;
    max-width: 100%;
    border-radius: 40px;
    margin: 1em;
    padding: 2em;
    background-color: rgba(76, 161, 70, 0.8);
    transition: transform .2s;
}

.unterthemen img:hover {
    transform: scale(1.025);
    background-color: rgba(171, 248, 165, 0.4);
    cursor: pointer;
}

#globalactionplan {
    position: relative;
}

#globalactionplan a {
    margin-left: 40px;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-size: 2em;
}

#globalactionplan a:hover {
    color: black;
}

#globalactionplan img {
    width: 100%;
    height: 100%;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: rgba(76, 161, 70, 0.8);
    padding: 1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

#contact h3,
#socialmedia h3 {
    text-align: center;
    font-weight: bold;
}

#contact ul,
#socialmedia ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#contact ul li a,
#socialmedia ul li a {
    margin: 0 1em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#arrow {
    margin: 10px;
    height: 0.1em;
    width: auto;
    position: absolute;
    left: 0;
}

@media only screen and (max-width: 400px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 2em;
    }

    header p {
        font-size: 1.3em;
    }

    .dropdown-content li a {
        font-size: 1em;
    }

    nav li span {
        font-size: 0.75em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 1.5em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 400px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }

    .dropdown-content li a {
        font-size: 1em;
    }

    nav li span {
        font-size: 0.75em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 2em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 1.4em;
    }

}

@media only screen and (min-width: 500px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }

    .dropdown-content li a {
        font-size: 1em;
    }

    nav li span {
        font-size: 0.75em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 2em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 600px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 5em;
    }

    .dropdown-content li a {
        font-size: 1em;
    }

    nav li span {
        font-size: 0.9em;
    }

    header p {
        font-size: 2em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 3em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 1.65em;
    }
}

@media only screen and (min-width: 768px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 6em;
    }

    header p {
        font-size: 2.5em;
    }

    .dropdown-content li a {
        font-size: 1.2em;
    }

    nav li span {
        font-size: 1.2em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 3em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 1.75em;
    }

    #globalactionplan a {
        margin-left: 75px;
        position: absolute;
        bottom: 150px;
        font-size: 2em;
    }
}

@media only screen and (min-width: 992px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 8em;
    }

    .dropdown-content li a {
        font-size: 1.2em;
    }

    nav li span {
        font-size: 1.2em;
    }

    header p {
        font-size: 2.5em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 4em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 2em;
    }

    #globalactionplan a {
        margin-left: 50px;
        position: absolute;
        bottom: 200px;
        font-size: 3em;
    }
}

@media only screen and (min-width: 1200px) {

    #AktuÜberschrift,
    #whatisit h2 {
        font-size: 9em;
    }

    nav li span {
        font-size: 1.5em;
    }

    header p {
        font-size: 3em;
    }

    .dropdown-content li a {
        font-size: 1.7em;
    }

    #mham h3,
    #ursprung h3,
    #kernfokus h3,
    #globale h3,
    .inhalt h3 {
        font-size: 4em;
    }

    #mham p,
    #ursprung p,
    #kernfokus p,
    #globale p,
    .inhalt p {
        font-size: 2em;
    }

    #globalactionplan a {
        margin-left: 75px;
        position: absolute;
        bottom: 200px;
        font-size: 4.5em;
    }
}